downloads/
logs/
channels/
sounds/
backups/
files/
scripts/Restores/
mirc.ini
servers.ini
urls.ini
*.txt
*.bin
*.exe
*.logs
*.log
*.zip
*.sqlite
*.pem
scripts/popups.ini
scripts/vars.ini
command
*.pdf
*.tm_
